<h1>Hello, GVTC!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<p><strong><u>Goals for this project:</u></strong></p>
<ol>
  <li>
    Create a C# .NET web app that pulls data from the GitHub API about some projects or users that are interesting to you and display that information in a browser.

    For example, this app should display a list of projects or a list of users.
  </li>
  <li>
    Create a pass through RESTful service to expose a filtered version of the data as JSON. The service should take a filter parameter and all filtering should be done server side using your code, not using the GitHub API.

    This service could be a WebAPI or Webservice that returns JSON, searching the GitHub Database and returning a list of results based on the search criteria entered by the user.
    The business logic/filering should be done in your service, not using the GitHub endpoints methods
    The result of the service request should be in a JSON structure such that  the service’s lists of data could be read by web, mobile, or desktop applications.
  </li>
</ol>
