<h1>Favorite Projects</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="form-group">
  <input #searchBox id="search-box" placeholder="Search projects..." class="form-control col-12" (keyup)="updateSearchString(searchBox.value)" />
  <!--<button class="btn btn-primary col-12" (click)="getData()">Submit</button>-->
</div>
{{ searchString }}
{{ apiUrl }}
<p *ngIf="!favorites"><em>Loading...</em></p>

<div *ngIf="favorites">
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>URL</th>
        <th>Homepage</th>
        <th>Watchers</th>
        <th>Last Pushed</th>
      </tr>
    </thead>
    <tbody class="search-result">
      <tr *ngFor="let fav of favorites">
        <td>{{ fav.name }}</td>
        <td>{{ fav.description }}</td>
        <td>{{ fav.html_url }}</td>
        <td>{{ fav.homepage }}</td>
        <td>{{ fav.watchers }}</td>
        <td>{{ fav.pushed_at }}</td>
      </tr>
    </tbody>
  </table>
</div>

